
/* smartphones, iPhone, portrait 480x320 phones  */
@media only screen and (min-width: 320px) {
  .container header .wrapper {
    margin-left:5%;
    width:480px;
  }
  .container{
  text-align: center;
    margin: auto;
    background-color: black;
    padding-bottom: 130px;
}
.container .company-logo{
    margin-top:10px;
    width: 150px;
}
.webcam-container{
    margin-bottom: 10%;
}
.webcam-container .webcam-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(141,198,63) ;
    border-radius: 20px;
}
.melanin-btn{
    min-width: 420px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  */
@media only screen and (min-width: 481px) {
    .container header .wrapper {
        margin-left:5%;
        width:480px;
      }
      .container{
      text-align: center;
        margin: auto;
        background-color: black;
        padding-bottom: 130px;
    }
    .container .company-logo{
        margin-top:10px;
        width: 150px;
    }
    .webcam-container{
        margin-bottom: 20%;
    }
    .webcam-container .webcam-btn{
        margin-top: 10px;
     
        background: rgb(141,198,63) ;
        border-radius: 20px;
    }
    .skintone{
        text-align: center;
        color: white ;
    }

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  */
@media only screen and (min-width: 641px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops  */
@media only screen and (min-width: 961px) {}

/*big landscape tablets, laptops, and desktops  */
@media only screen and (min-width: 1025px) {}

/* hi-res laptops and desktops  */
@media only screen and (min-width: 1281px) {}



